.top-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 10px;
    background-color: #666;
    border-bottom: 1px solid #151515;
}

.top-bar h2 {
    margin: 0;
    font-size: 24px;
    color: #fff;
    white-space: nowrap;
}