
.auction-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px;
    background: #1a1a1a;
    justify-content: center;
}

.auction-card {
    background: #1f1f1f;
    padding: 15px;
    border-radius: 8px;
    width: 250px;
    height: 350px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-shrink: 0;
    box-sizing: border-box;
}

.auction-card img:first-child {
    width: 90%;
    height: 80px;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    border-radius: 4px;
}

.auction-details {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.price-row {
    display: flex;
    align-items: center;
    gap: 8px;
}

.auction-button {
    margin-top: auto;
    background: #666;
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
}



.categorySwitcher {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: dimgrey;
    padding: 10px;
}

.categorySwitcher button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 100px;
    padding: 8px;
    border: none;
    background-color: #666;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.categorySwitcher button img {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
}

.categorySwitcher button:hover {
    transform: scale(1.09);
    box-shadow: 0 0 9px black;
}

.categorySwitcher button.active {
    background-color: #8ab4ff;
    color: #111;
    box-shadow: 0 0 12px rgba(138, 180, 255, 0.8);
    transform: scale(1.08);
}

.categorySwitcher button.active img {
    filter: drop-shadow(0 0 4px rgba(0,0,0,0.6));
}


.red-text {
    color: red;
}

.green-text {
    color: lightgreen;
}


.auction-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1a1a1a;
    padding: 10px;
    gap: 15px;
}


.categorySwitcher {
    display: flex;
    flex-wrap: wrap;
    background-color: #1a1a1a;
    gap: 10px;
}

.sort select {
    height: 42px;
    padding: 6px 10px;
    border-radius: 4px;
    border: 2px solid #dadada;
    background-color: #1a1a1a;
    color: white;
    cursor: pointer;
}

.search-row {
    background: #1a1a1a;
    padding: 12px 25px;
    border-top: 2px solid #555;
    border-bottom: 2px solid #555;
}

.search-row input {
    width: 100%;
    height: 48px;
    padding: 0 16px;
    font-size: 16px;

    background: #444;
    color: white;

    border: 2px solid #666;
    border-radius: 6px;

    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.search-row input::placeholder {
    color: #bdbdbd;
}

.search-row input:focus {
    outline: none;
    border-color: #8ab4ff;
    box-shadow: 0 0 8px rgba(138, 180, 255, 0.6);
}
