.container{
    max-width: 400px;
    margin: 100px auto;
    padding: 30px;
    background: #1a1a1a;
    color: #fff;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(15, 184, 221, 0.5);
    text-align: center;
    font-family: 'Arial', sans-serif;
}



.container input {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border-radius: 8px;
    border: none;
    font-size: 16px;
}

.container button {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background: #ffdd33;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.2s;
}

.container button:hover {
    background: #ffdd33;
}

.container h1 {
    margin-bottom: 20px;
    font-weight: bold;
}

.container h3 {
    color: #275ab8;
}

.status {
    margin-top: 15px;
    font-weight: bold;
}


.code-text{
    background: #333333;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    box-shadow: 0 8px 25px rgb(71, 71, 71);

}


