.backButton{
    width: 100px;
    height: 30px;
    border-radius: 6px;
    border: none;
    background: linear-gradient(135deg, #4f46e5, #6366f1);
}

.backButton:hover {
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.25);
    background: linear-gradient(135deg, #6366f1, #4f46e5);
}