.category-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    background: #666;
}

.category-container button{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background: #3c3c3c;
    border: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}
.category-container button:hover {
    background: #555;
}