name: Cron Trigger API

on:
  schedule:
    - cron: "* * * * *"
  workflow_dispatch:

jobs:
  trigger:
    runs-on: ubuntu-latest
    steps:
      - name: Call API
        run: |
          curl -X GET "https://website-7ivv.vercel.app/api/save-auction"
